{
  "openapi": "3.0.1",
  "info": {
    "title": "OpenAPI Plant Store",
    "description": "A sample API that uses a plant store as an example to demonstrate features in the OpenAPI specification",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "http://sandbox.mintlify.com"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/avocados": {
      "post": {
        "description": "Creates a new health article or answer to a user question",
        "requestBody": {
          "description": "Data to add to the model",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/avocados"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "avocado response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/avocados"
                }
              }
            }
          },
          "400": {
            "description": "unexpected error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "avocados": {
        "required": [
          "name"
        ],
        "type": "object",
        "properties": {
          "question": {
            "description": "The question",
            "type": "string"
          }
        }
      },
      "avocado": {
        "allOf": [
          {
            "$ref": "#/components/schemas/avocados"
          },
          {
            "required": [
              "id"
            ],
            "type": "object",
            "properties": {
              "id": {
                "description": "Identification number of the generated content",
                "type": "integer",
                "format": "int64"
              },
              "answer": {
                "description": "The answer",
                "type": "string"
              }
            }
          }
        ]
      },
      "Error": {
        "required": [
          "error",
          "message"
        ],
        "type": "object",
        "properties": {
          "error": {
            "type": "integer",
            "format": "int32"
          },
          "message": {
            "type": "string"
          }
        }
      }
    }
  }
}
